services:
  app:
    build:
      context: .
      dockerfile: apps/server/Dockerfile
    container_name: dongueldonguel
    ports:
      - '3000:3000'
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - DISCORD_WEBHOOK_URL=${DISCORD_WEBHOOK_URL}
      - PORT=3000
      - NODE_ENV=production
    restart: unless-stopped